.input {
  width: 100%;
  padding: 14px 15px 13px;
  border: 1px solid #c3cad9;
  border-radius: 10px;
  font-size: .875rem;
  outline: none;

  &:focus {
      border: 1px solid #1565d8;
  }

  &.invalid {
      color: #f7685b;
      border-color: #f7685b;
  }
}

.label__text {
  display: block;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: .875rem;
  color: #323c47;

  &.invalid {
      color: #f7685b;
  }
}

.helper-text {
  display: inline-block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #f7685b;
}