.modal-wrap.open .modal-overlay,
.modal-wrap.open .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modal-wrap.hide .modal-overlay,
.modal-wrap.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modal-wrap.open .modal-window {
  transform: translateY(0);
}

.modal-wrap.open .modal-overlay {
  background-color: rgba(0, 0, 0, .5);
}

.modal-wrap.hide .modal-window {
  transform: translateY(-500px);
}

.modal-wrap.hide .modal-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.modal-window, .modal-overlay {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background .2s ease-in;
}

.modal-window {
  width: 600px;
  border-radius: 5px;
  background-color: #fff;
  transform: translateY(-500px);
  transition: transform .2s ease-in;
}

.modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.modal-title {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.5;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 10px;
  position: relative;
  flex: 1 1 auto;
}

.modal-body p {
  margin: 0 0 5px;
}

.modal-footer {
  padding: 5px 10px;
  border-top: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
}