.user {
  display: flex;
  align-items: center;
  padding: 24px 24px 40px;

  &__img {
    display: block;
    width: 46px;
    height: 46px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
    flex: auto 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #192A3E;
  }

  &__email {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 0.01em;
    color: #90A0B7;
  }
}