.card
  .card__top
    h3.card__title Курс валют
  .card__content
    table.table
      thead.table-head
        tr.table__row
          th Валюта
          th Курс
          th Дата
      tbody
        tr.table__row
          td(data-label="Валюта").table__cell.table__cell-currency RUB
          td(data-label="Курс").table__cell 88.97009
          td(data-label="Дата").table__cell 20 января 2021 г.
        tr.table__row
          td(data-label="Валюта").table__cell.table__cell-currency USD
          td(data-label="Курс").table__cell 1.21041
          td(data-label="Дата").table__cell 20 января 2021 г.
        tr.table__row
          td(data-label="Валюта").table__cell.table__cell-currency EUR
          td(data-label="Курс").table__cell 1.00000
          td(data-label="Дата").table__cell 20 января 2021 г.