aside.sidebar.mini-sidebar
  .sidebar-content
    .mini-sidebar__user
      .mini-sidebar__user-img
        img(src="../img/avatars/user-avatar.jpg", alt="avatar")
    nav.mini-sidebar__nav 
      a.sidebar__nav-link(href="#")
          svg.sidebar__nav-link-icon.mini-sidebar__nav-link-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            use(xlink:href="../../img/svg/sprite/sprite.svg#money")
      a.sidebar__nav-link(href="#")
        svg.sidebar__nav-link-icon.mini-sidebar__nav-link-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          use(xlink:href="../../img/svg/sprite/sprite.svg#file")
      a.sidebar__nav-link(href="#")
        svg.sidebar__nav-link-icon.mini-sidebar__nav-link-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          use(xlink:href="../../img/svg/sprite/sprite.svg#to-do-list")
      a.sidebar__nav-link(href="#")
        svg.sidebar__nav-link-icon.mini-sidebar__nav-link-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          use(xlink:href="../../img/svg/sprite/sprite.svg#edit")
      a.sidebar__nav-link(href="#")
        svg.sidebar__nav-link-icon.mini-sidebar__nav-link-icon(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          use(xlink:href="../../img/svg/sprite/sprite.svg#categories")
  button.sidebar__toggle-button.mini-sidebar__toggle-button--active
    svg.sidebar__toggle-button-icon.mini-sidebar__toggle-button--active
      use(xlink:href="../../img/svg/sprite/sprite.svg#toggle")