aside.sidebar(data-sidebar)
  .sidebar-content
    .sidebar__logo(data-logo)
      a.sidebar__logo-link(href="#!")(data-logo-link) eXFinance
      button.sidebar__close(data-close="true") &times;
    .user(data-user)
      a(href="#").user__img(data-user-img)
        img(src="../img/avatars/user-avatar.jpg", alt="avatar")
      .user__info(data-user-info)
        h4.user__title Sierra Ferguson
        p.user__email s.ferguson@gmail.com
    nav.sidebar__nav(data-sidebar-nav)
      a.sidebar__nav-link(href="#")
          svg.sidebar__nav-link-icon(data-sidebar-icon)
            use(xlink:href="../../img/svg/sprite/sprite.svg#money")
          span(data-nav-text) Счет
      a.sidebar__nav-link(href="#")
        svg.sidebar__nav-link-icon(data-sidebar-icon)
          use(xlink:href="../../img/svg/sprite/sprite.svg#file")
        span(data-nav-text) История
      a.sidebar__nav-link(href="#")
        svg.sidebar__nav-link-icon(data-sidebar-icon)
          use(xlink:href="../../img/svg/sprite/sprite.svg#to-do-list")
        span(data-nav-text) Планирование
      a.sidebar__nav-link(href="#")
        svg.sidebar__nav-link-icon(data-sidebar-icon)
          use(xlink:href="../../img/svg/sprite/sprite.svg#edit")
        span(data-nav-text) Новая запись
      a.sidebar__nav-link(href="#")
        svg.sidebar__nav-link-icon(data-sidebar-icon)
          use(xlink:href="../../img/svg/sprite/sprite.svg#categories")
        span(data-nav-text) Категории
  button.sidebar__toggle-button(data-sidebar-toggle="toggle")
    svg.sidebar__toggle-button-icon(data-toggle-icon)
      use(xlink:href="../../img/svg/sprite/sprite.svg#toggle")
    span(data-toggle-text) Переключить панель