include ../mixins/_button.pug
include ../mixins/_input.pug
include ../mixins/_checkbox.pug
include ../mixins/_progress.pug
include ../mixins/_preloader.pug
include ../mixins/_radio.pug
include ../mixins/_pagination.pug
include ../mixins/_button-add.pug